.dark,
[data-theme='dark'] {
  color-scheme: dark;

  --color-background: var(--color-woodsmoke-950);
  --color-page-background-overlay: rgba(20, 19, 23, 0.8);

  --color-primary: #ffffff;
  --color-primary-invert: #000000;
  --color-secondary: rgba(255, 255, 255, 0.8);
  --color-tertiary: rgba(255, 255, 255, 0.56);
  --color-quaternary: rgba(255, 255, 255, 0.24);

  --color-card: rgba(255, 255, 255, 0.04);
  --color-card-border: rgba(255, 255, 255, 0.04);
  --color-card-border-hover: rgba(255, 255, 255, 0.16);
  --color-card-hover: rgba(255, 255, 255, 0.08);
  --card-border-width: 1px;

  --color-divider: rgba(255, 255, 255, 0.08);

  --color-overlay-primary: #202022;
  --color-overlay-secondary: rgba(32, 32, 34, 0.8);
  --color-overlay-backdrop: rgba(0, 0, 0, 0.6);

  --color-lemonheads-progress-bar: var(--color-yellow-400);

  /* btn colors */
  --btn-secondary-content: #000;
  --btn-secondary: #fff;
  --btn-secondary-hover: rgba(255, 255, 255, 0.8);

  --btn-tertiary-content: rgba(255, 255, 255, 0.56);
  --btn-tertiary: rgba(255, 255, 255, 0.08);
  --btn-tertiary-hover: rgba(255, 255, 255, 0.16);

  --btn-flat-hover: rgba(255, 255, 255, 0.08);
}
