@layer utilities {
  .collapse:not(td, tr, colgroup) {
    visibility: visible;
  }

  .collapse {
    @apply rounded-sm border;

    --collapse-rounded: var(--radius-md);
    --collapse-bg: transparent;
    --collapse-fg: var(--color-tertiary);
    --collapse-p-block: calc(var(--spacing) * 3);
    --collapse-p-inline: calc(var(--spacing) * 4);

    background-color: var(--collapse-bg);
    color: var(--collapse-fg);
    border-color: var(--color-divider);
    visibility: visible;
    border-radius: var(--collapse-rounded);

    .trigger {
      @apply flex justify-between items-center gap-2;
      padding-inline: var(--collapse-p-inline);
      padding-block: var(--collapse-p-block);

      i {
        color: var(--color-fg);
      }
    }

    .content {
      @apply overflow-hidden;
      background-color: var(--color-background);
      border-end-end-radius: var(--collapse-rounded);
      border-end-start-radius: var(--collapse-rounded);

      .content-box {
        padding-inline: var(--collapse-p-inline);
        padding-block: var(--collapse-p-block);
      }
    }

    &.warning {
      --collapse-bg: color-mix(in oklab, var(--color-warning-300) 16%, transparent);
      --collapse-fg: var(--color-warning-300);
    }
  }
}
