[data-theme='dark'] {
  color-scheme: dark;

  --color-background: var(--color-woodsmoke-950);

  --color-primary: #ffffff;
  --color-secondary: rgba(255, 255, 255, 0.8);
  --color-tertiary: rgba(255, 255, 255, 0.56);
  --color-quaternary: rgba(255, 255, 255, 0.24);

  --color-card: rgba(255, 255, 255, 0.04);
  --color-card-border: rgba(255, 255, 255, 0.04);

  --color-divider: rgba(255, 255, 255, 0.08);

  --color-overlay-primary: #202022;
  --color-overlay-secondary: rgba(32, 32, 34, 0.8);
  --color-overlay-backdrop: rgba(0, 0, 0, 0.6);
}
