[data-theme='dark'] {
  color-scheme: dark;

  --color-background: var(--color-woodsmoke-950);
  --color-forceground: #ffffff;
  --color-tertiary: #ffffff;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-menu: var(--color-alabaster-950);
}
