@layer utilities {
  .shader {
    position: fixed;
    inset: 0;
    z-index: 0;
    background: var(--shader-color-1);
  }

  .item-color-dreamy {
    background: linear-gradient(
      90deg,
      #808bff 0%,
      #808bff 33.33%,
      #9880ff 33.33%,
      #9880ff 67%,
      #80ddff 67%,
      #80ddff 100%
    );
  }

  .item-color-summer {
    background: linear-gradient(
      90deg,
      #80b3ff 0%,
      #80b3ff 33.33%,
      #84d5f9 33.33%,
      #84d5f9 67%,
      #f8dc88 67%,
      #f8dc88 100%
    );
  }

  .item-color-melon {
    background: linear-gradient(
      90deg,
      #ff8080 0%,
      #ff8080 33.33%,
      #fff580 33.33%,
      #fff580 67%,
      #a9e29c 67%,
      #a9e29c 100%
    );
  }

  .item-color-barbie {
    background: linear-gradient(
      90deg,
      #ff80e2 0%,
      #ff80e2 33.33%,
      #ff809b 33.33%,
      #ff809b 67%,
      #ffd080 67%,
      #ffd080 100%
    );
  }

  .item-color-sunset {
    background: linear-gradient(
      90deg,
      #fdff81 0%,
      #fdff81 33.33%,
      #ffca81 33.33%,
      #ffca81 67%,
      #ffef7f 67%,
      #ffef7f 100%
    );
  }

  .item-color-ocean {
    background: linear-gradient(
      90deg,
      #81f5ff 0%,
      #81f5ff 33.33%,
      #80cbff 33.33%,
      #80cbff 67%,
      #81efff 67%,
      #81efff 100%
    );
  }

  .item-color-forest {
    background: linear-gradient(
      90deg,
      #b2ff7f 0%,
      #b2ff7f 33.33%,
      #80ff92 33.33%,
      #80ff92 67%,
      #80ffe4 67%,
      #80ffe4 100%
    );
  }

  .item-color-lavender {
    background: linear-gradient(
      90deg,
      #bc80ff 0%,
      #bc80ff 33.33%,
      #c987f7 33.33%,
      #c987f7 67%,
      #e080ff 67%,
      #e080ff 100%
    );
  }

  .shader {
    &.dreamy {
      --shader-color-1: #e1dbfc;
      --shader-color-2: #ebd0fa;
      --shader-color-3: #ddf9fe;
    }
    &.summer {
      --shader-color-1: #c5e3fc;
      --shader-color-2: #b1eefc;
      --shader-color-3: #f6edc7;
    }
    &.melon {
      --shader-color-1: #f8d8dd;
      --shader-color-2: #fcedd4;
      --shader-color-3: #dffae8;
    }
    &.barbie {
      --shader-color-1: #fbd0d0;
      --shader-color-2: #fbcbee;
      --shader-color-3: #feedcb;
    }
    &.sunset {
      --shader-color-1: #fde9d5;
      --shader-color-2: #fef2d5;
      --shader-color-3: #fbe4e2;
    }
    &.ocean {
      --shader-color-1: #daf2fe;
      --shader-color-2: #e0f4fe;
      --shader-color-3: #dadffb;
    }
    &.forest {
      --shader-color-1: #ddfcc7;
      --shader-color-2: #e7fccf;
      --shader-color-3: #d9fcf5;
    }
    &.lavender {
      --shader-color-1: #eedafa;
      --shader-color-2: #e7e1fa;
      --shader-color-3: #cbdefa;
    }
  }

  .light {
    .shader {
      &.dreamy {
        --shader-color-1: #e1dbfc;
        --shader-color-2: #ebd0fa;
        --shader-color-3: #ddf9fe;
      }
      &.summer {
        --shader-color-1: #c5e3fc;
        --shader-color-2: #b1eefc;
        --shader-color-3: #f6edc7;
      }
      &.melon {
        --shader-color-1: #f8d8dd;
        --shader-color-2: #fcedd4;
        --shader-color-3: #dffae8;
      }
      &.barbie {
        --shader-color-1: #fbd0d0;
        --shader-color-2: #fbcbee;
        --shader-color-3: #feedcb;
      }
      &.sunset {
        --shader-color-1: #fde9d5;
        --shader-color-2: #fef2d5;
        --shader-color-3: #fbe4e2;
      }
      &.ocean {
        --shader-color-1: #daf2fe;
        --shader-color-2: #e0f4fe;
        --shader-color-3: #dadffb;
      }
      &.forest {
        --shader-color-1: #ddfcc7;
        --shader-color-2: #e7fccf;
        --shader-color-3: #d9fcf5;
      }
      &.lavender {
        --shader-color-1: #eedafa;
        --shader-color-2: #e7e1fa;
        --shader-color-3: #cbdefa;
      }
    }
  }

  .dark {
    .shader {
      &.dreamy {
        --shader-color-1: #46156f;
        --shader-color-2: #140f6f;
        --shader-color-3: #368077;
      }
      &.summer {
        --shader-color-1: #082590;
        --shader-color-2: #254d70;
        --shader-color-3: #835c33;
      }
      &.melon {
        --shader-color-1: #8f6217;
        --shader-color-2: #8b250e;
        --shader-color-3: #478543;
      }
      &.barbie {
        --shader-color-1: #70172d;
        --shader-color-2: #772184;
        --shader-color-3: #7b8a2c;
      }
      &.sunset {
        --shader-color-1: #6e220a;
        --shader-color-2: #774c13;
        --shader-color-3: #75751c;
      }
      &.ocean {
        --shader-color-1: #234976;
        --shader-color-2: #1e5674;
        --shader-color-3: #08176f;
      }
      &.forest {
        --shader-color-1: #226f87;
        --shader-color-2: #256e1f;
        --shader-color-3: #837024;
      }
      &.lavender {
        --shader-color-1: #4b166d;
        --shader-color-2: #181369;
        --shader-color-3: #8b2285;
      }
    }
  }
}
